#profile {
  background: $ice;
  padding-bottom: $unit;

  h1 {
    position: relative;
    background: $blue;
    font-weight: 700;
    font-size: 36px;
    color: $white;
    text-align: center;
    padding: 60px 0;
    overflow: visible;
  }

  h2 {
    color: $blue;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: $unit;
  }

  .back {
    top: $unit;
    color: $white;
  }

  p {
    margin: $unit;
    font-size: 16px;
    color: $darkergrey;
    line-height: 24px;
    text-align: justify;
    clear: both;
  }

  select {
    width: 100%;
  }

  .input-label {
    display: none;
  }

  select, #transgender {
    margin: $unit 0;
  }

  .text-center {
    text-align: center;
  }
}
