<div id="left-sidebar" class="sidebar" menu-toggle="left">
  <ion-content>
    <h2>
      <span>{{profile.identifier}}</span>
      <button menu-toggle="left" class="button button-icon icon ion-close-circled"></button>
    </h2>
    <ul class="list" ng-show="loggedIn">
      <li class="item" ng-click="showProfile()"><i class="icon ion-person"></i> Meu Perfil</li>
      <li class="item" ng-click="editProfile()"><i class="icon ion-person-add"></i> Atualizar Perfil</li>
      <li class="item" ng-click="showMyProposals()"><i class="icon ion-document"></i> Minhas Propostas</li>
      <li class="item" ng-click="showFollowedProposals()"><i class="icon ion-eye"></i> Propostas Seguidas</li>
      <li class="item" ng-click="reloadProposals()"><i class="icon ion-earth"></i> Todas as Propostas</li>
      <li class="item" ng-click="logout()"><i class="icon ion-log-out"></i> Sair</li>
    </ul>
  </ion-content>
</div>
