<div id="proposals" ng-show="loggedIn" no-scroll>

	<div class="row stagebar">
    <div class="col">
      <button style="width: 100%;" class="button stage stage-first current">
        <i class="icon-left ion-chatboxes"></i>
        Fase 1<br/>
        Propostas<br />
        <small>{{stages.one}}</small>
      </button>
    </div>
    
    <div class="col">
      <button style="width: 100%;" class="button stage stage-second">
        <i class="icon-left ion-thumbsup"></i>
        Fase 2<br/>
        Aplausos<br />
        <small>{{stages.two}}</small>
      </button>
    </div>
    
    <div class="col">
      <button style="width: 100%;" class="button stage stage-last">
        <i class="icon-left ion-speakerphone"></i>
        Fase 3<br/>
        Anúncio<br />
        <small>{{stages.three}}</small>
      </button>
    </div>
	</div>
	
  <h2>Como você vai mudar o Brasil?</h2>

  <td-cards>
    <p id="loading-cards" ng-show="loading">Carregando propostas...</p>
    <div id="force-reload" ng-show="(emptyTopicsCount == topics.length) && !loading">
      <p>Você já visualizou todas as propostas.</p>
      <p>Deseja <a ng-click="reloadTopics()">Carregar novamente</a>?</p>
    </div>
 
    <td-card ng-repeat="proposal in cards" on-destroy="cardDestroyed($index)"
             on-swipe-left="" on-swipe-right="" on-partial-swipe="cardPartialSwipe(amt)">
      <div class="card animate-show">
        <h3>
          <a ng-click="openProposal(proposal)">{{proposal.title | limitTo:100}}</a>
          <br />
          <small>Autoria: {{proposal.author.name}}</small>
          <p><img ng-src="img/badge-{{proposal.topic.id}}.svg" alt="" /></p>
        </h3>
        <div class="card-body">
          {{proposal.body | htmlToPlainText}}
        </div>
        <div class="card-footer">
          <a ng-click="openProposal(proposal)" class="icon-left ion-android-open"> Leia Mais</a>
          <a ng-click="follow(proposal)" class="icon-left ion-eye" ng-hide="isFollowing(proposal) || proposal.author.id == profile.id"> Seguir</a>
        </div>
      </div>
    </td-card>
  </td-cards>

  <div class="cards-footer">
    <a ng-click="nextCard()" ng-show="cards.length > 0" class="button flat">Próxima</a>
  </div>
</div>
