<div id="profile" class="modal">
  <ion-content>
    <h1 class="title">
      {{profile.name}}
      <a class="back icon-left ion-reply" ng-click="closeProfile()">Voltar</a>
    </h1>

    <h2>Nome</h2>
    <p>{{profile.name}}</p>

    <h2>Login</h2>
    <p>{{profile.user.login}}</p>

    <h2>Região</h2>
    <p>{{profile.region.full_name}}</p>

    <h2>Orientação Sexual</h2>
    <p>{{profile.orientacao_sexual | orientacaoSexualFilter }}</p>

    <h2>Identidade de Gênero</h2>
    <p>{{profile.identidade_genero | generoFilter }}</p>

    <h2>Etnia</h2>
    <p>{{profile.etnia | etniaFilter}}</p>

    <h2><span ng-show="profile.transgenero == 'false'">Não</span> Sou Transgênero</h2>

  </ion-content>
</div>
