<div id="proposal" class="modal">
  <ion-content>
    <h1 class="title">
      <span>
        <span id="proposal-title">{{proposal.title}}</span>
        <br />
        <small>Autoria: {{proposal.author.name}}</small>
      </span>
      <a class="back icon-left ion-reply" ng-click="closeProposal()">Voltar</a>
    </h1>

    <span id="proposal-id" style="display: none;">{{proposal.id}}</span>

    <p class="proposal-buttons">
      <button class="button tag" ng-click="openTagForm()" ng-show="proposal.author.id == profile.id">
        <i class="icon ion-pricetags"></i> <span>Adicionar Tag</span>
      </button>
      <button class="button edit" ng-click="openEditProposalForm()" ng-show="proposal.author.id == profile.id">
        <i class="icon ion-edit"></i> <span>Editar</span>
      </button>
      <button class="button comment" ng-click="openCommentForm()">
        <i class="icon ion-chatbox-working"></i> <span>Comentar</span>
      </button>
      <button class="button follow" ng-click="follow(proposal)" ng-hide="isFollowing(proposal) || proposal.author.id == profile.id">
        <i class="icon ion-eye"></i> <span>Seguir</span>
      </button>
      <br />
      <button class="button" onclick="window.open(ConfJuvAppUtils.shareOnTwitter(), '_system')">
        <i class="icon ion-social-twitter"></i> <span>Compartilhar no Twitter</span>
      </button>
      <button class="button" onclick="window.open(ConfJuvAppUtils.shareOnFacebook(), '_system')">
        <i class="icon ion-social-facebook"></i> <span>Compartilhar no Facebook</span>
      </button>
      <button class="button" ng-click="share(proposal)">
        <i class="icon ion-shuffle"></i> <span>Compartilhar</span>
      </button>
    </p>

    <p style="clear: both;"></p>

    <p class="proposal-badges">
      <img ng-src="img/badge-{{proposal.topic.id}}.svg" alt="" />
      <img ng-repeat="tag in proposal.tag_list | limitTo:3" ng-src="https://img.shields.io/badge/tag-{{tag | tagFilter}}-4db6ac.svg" alt="" />
    </p>

    <p>{{proposal.body | htmlToPlainText}}</p>

    <button class="button icon-left ion-alert flat" ng-click="openReportAbuseForm()">
      Denunciar
    </button>

    <hr>

    <div id="comments">
      <h2>Comentários ({{commentStatus == 'none' ? 0 : (proposal.comments.length >= 20 ? '+20' : proposal.comments.length)}})</h2>

      <div class="comment-message" ng-show="commentStatus == 'none'">
        Não há comentários para esta proposta. 
        <span ng-click="openCommentForm()">Seja o primeiro!</span>
      </div>
      
      <div class="comment-message" ng-show="commentStatus == 'fail'">
        Não foi possível carregar os comentários desta proposta. 
      </div>

      <div class="card" ng-repeat="comment in proposal.comments" ng-hide="comment.skip">
        <div class="item item-divider">
        {{comment.author.name}}
        </div>
        <div class="item item-text-wrap">
        {{comment.body}}
        </div>
      </div>

      <p style="text-align: center;">
        <button class="button icon-left ion-plus-circled" ng-click="loadComments()" ng-show="proposal.comments.length >= 20">Mais comentários</button>
      </p>
    </div>
  </ion-content>
</div>
