<div class='signup-person-fields' ng-show="registerFormType == 'user' || loggedIn">
  <div>
    <label>
      <div class="input-label">
       Identidade de Gênero
      </div>
      <select ng-model="profile.identidade_genero" required class="item">
        <option value="">Identidade de Gênero</option>
        <option value="1">{{ 1 | generoFilter }}</option>
        <option value="2">{{ 2 | generoFilter }}</option>
      </select>
    </label>
  </div>

  <div>
    <ul class="list" id="transgender">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="profile.transgenero" ng-true-value="'true'" class="ckbox">
         </label>
         Sou transgênero
      </li>
    </ul>
  </div>

  <div>
    <label>
      <div class="input-label">
        Raça/Etnia
      </div>
      <select ng-model="profile.etnia" required class="item" >
        <option value="">Raça / Etnia</option>
        <option value="1">{{ 1 | etniaFilter}}</option>
        <option value="2">{{ 2 | etniaFilter}}</option>
        <option value="3">{{ 3 | etniaFilter}}</option>
        <option value="4">{{ 4 | etniaFilter}}</option>
        <option value="5">{{ 5 | etniaFilter}}</option>
      </select>
    </label>
  </div>

  <div>
    <label>
      <div class="input-label">
        Orientação Sexual
      </div>
      <select ng-model="profile.orientacao_sexual" required class="item">
        <option value="">Orientação Sexual</option>
        <option value="1">{{ 1 | orientacaoSexualFilter}}</option>
        <option value="2">{{ 2 | orientacaoSexualFilter}}</option>
        <option value="3">{{ 3 | orientacaoSexualFilter}}</option>
        <option value="4">{{ 4 | orientacaoSexualFilter}}</option>
      </select>
    </label>
  </div>
</div>
